@use '../settings' as *;

.portfolioContent {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .portfolio-container {
        position: relative;
        overflow: hidden;
        width: calc(80% - 10px);
        margin: 10px auto;
        padding: 2rem auto;
        display: flex;
        align-items: center;

        background-image: linear-gradient(to top left, $colorGrd2, $colorGrd1);


        .nav-btn {
            position: absolute;
            background: #5fc0c7;
            border: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            user-select: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background 0.3s ease;
            z-index: 10;

            &:hover {
                background: #399ba7;
            }
        }

        .left {
            margin-right: 10px;
            left: 10px;

        }

        .right {
            right: 10px;
            margin-left: 10px;
        }


        .portfolio-wrapper {
            overflow: hidden;
            flex-grow: 1;
            cursor: grab;

            &:active {
                cursor: grabbing;
            }

            .portfolio-cards {
                display: flex;
                transition: transform 0.3s ease;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        }

        .portfolioCard {
            background: #fff;
            margin: 0 10px;
            box-shadow: $shadow1;
            border-radius: 8px;
            padding: 0.5rem;
            flex-shrink: 0;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            width: 350px;
            transition: transform 0.3s ease;
            z-index: 2;

            h3 {
                width: 95%;
                margin-bottom: 0.5rem;
                font-size: 1.5rem;
                color: #333;
            }

            .imgContent {
                width: 90%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }

            }

        }
    }
}

// Responsive

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {
    .portfolio-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 500px) {
    .portfolioContent {
        width: 100%;

        .portfolio-container {

            width: 95%;
            margin: 1rem 0 20px 0;
            padding: 10px 0;
            background: transparent;


            .portfolioCard {
                width: 95%;
                margin: 0 10px;
                padding: 0;
                margin: 0.2rem;


                h3 {
                    font-size: 1rem;
                    padding: 1.1rem;
                }


            }

            .nav-btn {
                width: 35px;
                height: 35px;
                font-size: 1.5rem;
            }
        }
    }
}