@use './settings' as *;

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.column {
    flex: 1;
    min-width: 0;
    width: 75%;

}

pre,
code {
    background: #eee;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    overflow-x: auto;
    display: block;
    white-space: pre-wrap;
    word-break: break-word;

}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

td,
th {
    border: 1px solid #ccc;
    padding: 4px 8px;
}



@media (max-width: 500px) {
    body {
        margin: 0.5in;
    }

    .columns {
        flex-wrap: wrap;
        width: 100%;
    }

}