@use './settings' as *;


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    a {
        text-decoration: none;
        color: #333; // couleur par défaut
        transition: color 0.2s ease;

        &:hover {
            color: #6fd1a5; // couleur au survol
        }
    }


    &.hidden {
        transform: translateY(-100%);
    }


    a.router-link-exact-active {
        font-weight: bold;
        color: #6fd1a5; // couleur du lien actif
    }

    .hamburger {
        display: none;
        flex-direction: column;
        gap: 4px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: auto; // pour repousser menu au centre en desktop

        span {
            display: block;
            width: 25px;
            height: 3px;
            background: #333;
            transition: 0.3s;
        }

        span.open:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        span.open:nth-child(2) {
            opacity: 0;
        }

        span.open:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
        align-items: center;

        li {
            position: relative;

            .dropdown-toggle {
                cursor: pointer;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background: white;
                border: 1px solid #ccc;
                min-width: 150px;
                padding: 0;
                margin: 0;
                list-style: none;
                z-index: 1000;

                li {
                    padding: 0.5rem;

                    &:hover {
                        background: #f0f0f0;
                    }
                }

                &.open {
                    display: block;
                }
            }
        }

        &.open {
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            padding: 1rem;
        }
    }

    // Responsive hamburger
    @media (max-width: 768px) {
        background: transparent;

        .hamburger {
            display: flex;
        }

        .menu {
            display: none;

            &.open {
                display: flex;

            }
        }




    }
}