@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$White :#fff;
$black: rgb(22, 22, 22);
$red: red;

$fontTitre : "IBM Plex Mono";
$fontSoustitre : "Playfair Display";
$fontText : "roboto";

* {
    font-family: $fontText;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}



h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #336699;

}